@model DogGo.Models.ViewModels.WalkerViewModal

@{
    ViewData["Title"] = "Details";
}



<div>
    <h1 class="mb-4">Walker Profile</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="@Model.Walker.ImageUrl" />
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Phone:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>

    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">

        <section class="col-8 container mt-5">
            <table class="table">


                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Walks[0].Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Walks[0].Dog.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Walks[0].Duration)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Walks)
                    {
                        <tr>
                            <td>
                                <h6>@item.Date.ToShortDateString()</h6>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DurationMin) mins
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
            </section>


            <section class="col-lg-4 col-md-8 container mt-5">
                



                <h4>Total Walk Time: @Html.DisplayFor(model => model.TotalDuration)</h4> 


            </section>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
